<!--{% extends "base.html" %}-->
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
<hr>
    {% if form.errors %}
        <p>
        Your username and password didn't match.
        Please try again.
        </p>
        {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p>If you dont have an account, register with us <a href="{% url 'register:signup' %}">Sign Up</a></p>
        <p><input type="submit" value="Log-in" class="btn-secondary"></p>
    </form>
    </div>
{% endblock %}
