{% extends 'base.html' %}
{% block title %}my invites{% endblock title %}

{% block content %}
    {% if is_empty %}
       <h1>No invitation here..</h1>
    {% endif %}

    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image" src="{{obj.avatar.url}}">
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.bio}}</p>
                        <br>
                        <a href="#">
                            <buttom class="ui secondary button w-big mb-5">See profile</buttom>
                        </a>
                        <form action="{% url 'profiles:accept-invite' %}" method="POST">
                            {% csrf_token %}
                             <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                            <button type="submit" class="ui positive secondary basic button w-big mb-5">
                                <i class="check icon"></i>
                                Accept invite
                            </button>
                        </form>
                        <form action="{% url 'profiles:reject-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value="{{obj.pk}}">
                            <button type="submit" class="ui negative secondary basic button w-big mb-5">
                                <i class="close icon"></i>
                                Reject invite
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock content %}